<div class="about">
	<h1>Om Utvecklarkollektivet</h1>
	<p>
		Utvecklarkollektivet startades 2012-07-15 (kl 01:16) av en grupp utvecklare som en gruppchat via Skype. 
		Det var redan från början klart att man ville ha ett ställe att bolla tankar och idéer i realtid och där 
		man kan bygga så väl projekt och ny kunskap som vänskap.
	</p>
	<p>
		Idag består kollektivet främst av ett team på <a href="https://utvecklarkollektivet.slack.com/">Slack</a> och 
		en organisation på <a href="https://github.com/Utvecklarkollektivet">GitHub</a>.
		Det bollas tekniska utmaningar och problem - roliga projekt idéer - galna upptåg - med mera. Gruppen växer ständigt 
		vilket bidrar med bredare kunnande, fler spännande projekt och fler tankar och idéer.	
	</p>
</div>
