<div class="splash">
	<div class="overlay">
		<h1>Foobar</h1>
	</div>
</div>

<div class="container">
	<div class="row features">
		<div class="col s12 m4 offset-m2">
			<h2>Av utvecklare, för utvecklare</h2>

			Lorem Ipsum
		</div>

    <div class="col s12 m4 offset-m2">
      <h2>Av utvecklare, för utvecklare</h2>

      Lorem Ipsum
    </div>

	</div>
</div>
