<div class="slack">
	<h1>Utvecklarkollektivet finns på slack</h1>
	<div class="row">
		<div class="col s12 m4">
			<ul>
				<li>Vi <stong>inspirerar</strong> varandra</li>
				<li>Vi <strong>hjälper och stöttar</strong> varandra</li>
        <li>Vi <strong>utbildar</strong> varandra</li>
        <li>Vi <strong>utmanar</strong> varandra</li>
			</ul>
		</div>
		<div class="col s12 m3 offset-1">
			<a href="http://utvecklarkollektivet.se/" class="purple btn join">Gå med</a>
		</div>
	</div>
</div>
